<!DOCTYPE html>
<html lang="zh">

	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>小球运动</title>
		<style>
			.ball {
				width: 80px;
				height: 80px;
				background: red;
				border-radius: 50%;
				position: absolute;
				top: 0;
				left: 0;
			}
		</style>
	</head>

	<body>
		<div id="ball" class="c-ball"></div>

		<script>
			var oBall = document.querySelector('#ball'),
				leftNum = 0,
				topNum = 0,
				aBall = null,
				length = 0;

			reSize();
			window.onresize = reSize;

			function reSize() {
				leftMax = document.documentElement.clientWidth - 80;
				topMax = document.documentElement.clientHeight - 80;
			}

			creatBall(oBall, 2); //传参，往oBall里面追加10个小球

			aBall = oBall.children; //获取oBall里面的所有小球
			length = aBall.length; //获取小球的个数
			
			setInterval(function() {
				for(var j = 0; j < length; j++) {
					var item = aBall[j];
					console.log('小球' + j + ":Left:" + item.leftNum + "Top:" + item.topNum + "简介:"+item.intro+'');
				}
			}, 30)

			setInterval(function() { //这里注意需要将之前所有对oBall设置的都换成aBall[i]
				for(var i = 0; i < length; i++) {
					var Left = aBall[i].offsetLeft + aBall[i].leftNum,
						Top = aBall[i].offsetTop + aBall[i].topNum;
						
					if(Left >= leftMax) {
						Left = leftMax;
						aBall[i].leftNum = -aBall[i].leftNum;
						ballBg(aBall[i]);
					} else if(Left <= 0) {
						Left = 0;
						aBall[i].leftNum = -aBall[i].leftNum;
						ballBg(aBall[i]);
					};
					if(Top >= topMax) {
						Top = topMax;
						aBall[i].topNum = -aBall[i].topNum;
						ballBg(aBall[i]);
					} else if(Top <= 0) {
						Top = 0;
						aBall[i].topNum = -aBall[i].topNum;
						ballBg(aBall[i]);
					};
					aBall[i].style.left = Left + 'px';
					aBall[i].style.top = Top + 'px';
				}
			}, 30);

			//创建小球的方法
			function creatBall(obj, num) {
				for(var i = 0; i < num; i++) {
					var cBall = document.createElement('div');
					cBall.className = 'ball';
					cBall.intro = "你是猪吗？";
					ballBg(cBall);
					//这里取i+1而不取i的原因是，一个小球的i为0，如果不取i+1，那么第一个小球会永远在左上角不动并且不停地变颜色
					cBall.leftNum = cBall.topNum = (i + 1) * 1;
					obj.appendChild(cBall);
				};
			};

			//小球随机颜色
			function ballBg(obj) {
				var r = Math.floor(Math.random() * 256);
				g = Math.floor(Math.random() * 256);
				b = Math.floor(Math.random() * 256);
				obj.style.backgroundColor = 'rgb(' + r + ',' + g + ',' + b + ')';
			}
		</script>
	</body>

</html>