<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
	<style type="text/css">
		*{
			padding: 0;
			margin: 0;
		}
		.wrapper{
			position: relative;
		}
		.circle{
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
		}
		.circleA{
			height: 80px;width: 80px;
			background-color: green;
			border-radius: 80px;
		}
		.circleB{
			height: 60px;width: 60px;
			background-color: dodgerblue;
			border-radius: 60px;
		}
	</style>
</head>
<body>
	<div class="wrapper">
		<a href="javascript:;" class="circleA circle"></a>
		<a href="javascript:;" class="circleB circle"></a>
	</div>
	<script src="../js/Jquery_v1.9.0.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(function(){
			$(".circleA").css({
				"left":30,
				"top":20
			})
			$(".circleB").css({
				"left":500,
				"top":200
			})
		})
	</script>
</body>
</html>